@import url(https://fonts.googleapis.com/css?family=Bungee+Outline);

.content {
  font-style: "italic";
  font-weight: "bold";
  font-family: "Bungee Outline";
  text-shadow: "4px 4px #000000";
  color: "yellow";
}
